/* QUESTION.HTML STYLING */

body {
    padding: 20px;
    margin: 0;
    background-color: #90da50;
    background: url("images/field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page_head {
    z-index: 9;
    padding: 10px;
    max-width: calc(100% - 20px);
    height: 35px;
    background-color: #ffffffCC;
    font-size: 30px;
    border-radius: 10px;
}

#page_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #555555;
}

#info_button {
    float: right;
    margin-top: -35px;
}

#page_title {
    text-align: center;
}

#page_head img {
    width: 30px;
}

#option_0_button {
    background-color: #f98a2f;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 250px;
    color: #444444;
    min-width: 240px;
}

#option_0_button:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}

#option_1_button {
    background-color: #65c6e3;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    color: #444444;
    min-width: 240px;
}

#option_1_button:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}


#quiz_answer1 img {
    display: block;
}


#quiz_answer2 img {
    display: block;
}

svg {
    display: block;
    margin: auto;
    border: solid;
}

#quiz_question_div {
    text-align: center;
    font-size: 25px;
    color: #555555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25vh;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    #quiz_question_div {
        margin-top: 10px;
    }
}


#quiz_question_page {
    background-color: #ffffffCC;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 40px - 50px - 45px);
    width: calc(100% - 20px);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

#quiz_answers_div {
    text-align: center;
    margin-top: 50px;
}

#quiz_result_div {
    text-align: center;
}

#quiz_answers_result_div {
    text-align: center;
}

/* ANSWER.HTML STYLING */

#quiz_answer1 {
    background-color: #f98a2f;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 100px;
    color: #444444;
    
}

#quiz_answer2 {
    background-color: #65c6e3;
    padding: 35px 50px 35px 50px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    color: #444444;
    
}

#quiz_answer {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
}

#emission_breakdown {
    margin-top: 200px;
}

#quiz_result_text {
    text-align: center;
}

#quiz_answer_page {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: calc(100vh - 40px - 50px - 45px);
    width: calc(100% - 20px);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

#next_button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border: 0;
    background: transparent; 
    cursor: pointer;        
}
#next_button:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;

/* RESULT.HTML STYLING */
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media only screen and (max-width: 500px) {
    #page_title {
        font-size: 22px;
        text-align: left;
        margin-left: 5px;
                  
    }
    #page_head {
        height: 27px;

    }
    #info_button {

        margin-top: -30px;
    }
    
}    
@media only screen and (max-width: 768px) {
    
    #option_0_button {
        display: block;
        align-items: center;
        width: 100%;
        max-width: 421px;
    }
    #option_1_button {
        display: block;
        align-items: center;
        width: 100%;
        max-width: 421px;
    }

}
