/* GENERAL STYLING */

body {
    padding: 20px;
    margin: 0;
    background-color: #90da50;
    background: url("images/field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#page_head {
    z-index: 9;
    padding: 10px;
    max-width: calc(100% - 20px);
    height: 35px;
    background-color: #ffffffCC;
    font-size: 30px;
    border-radius: 10px;
}

#page_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #555555;
}

#info_button {
    float: right;
    margin-top: -35px;
}

#page_title {
    text-align: center;
}

#page_head img {
    width: 30px;
}

#page_content {
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(100% - 20px);
    height: auto;
    min-height: calc(100vh - 40px - 50px - 45px);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

#content_container {
    display: flex;
    /*align-items: center; */
    justify-content: center;
}

svg {
    display: block;
    margin: auto;
}

/* QUESTION.HTML STYLING */

#quiz_question_div {
    text-align: center;
    font-size: 25px;
    color: #555555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25vh;
    margin-bottom: 10px;
    min-height: 100px;
}

#div_question_next_button {
    visibility: hidden;
    display: flex;
    position: fixed;
    width: 150px;
    top: calc(50% - 150px);
    height: 300px;
    right: 0px;
    border: 0;
    align-items: center;
    justify-content: left;
    background: transparent;
    cursor: pointer;
}

#div_question_next_button:hover {
    transform: scale(1.10);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}



#option_button_0 {
    flex: 1;
    background-color: #f98a2f;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10%;
    color: #444444;
    max-width: 240px;
    min-width: 240px;
    cursor: pointer;
}

#option_button_1 {
    flex: 1;
    background-color: #65c6e3;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 25px;
    color: #444444;
    max-width: 240px;
    min-width: 240px;
    cursor: pointer;
}

#option_button_0:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}

#option_button_1:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}

#option_button_0 img {
    display: block;
    height: 60px;
    margin: auto;
    margin-top: 10px;
}

#option_button_1 img {
    display: block;
    height: 60px;
    margin: auto;
    margin-top: 10px;
}

#progress_container {
    display: flex;
    align-items: bottom;
    justify-content: center;
    position: relative;
    width: 150px;
    left: calc(50% - 75px);
}

#progress {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;

}

/* ANSWER.HTML STYLING */

#quiz_answer_text {
    text-align: center;
}

#quiz_answer {
    margin: 50px 50px 50px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
}

#quiz_answer_0 {
    flex: 1;
    margin-right: 10%;
    background-color: #f98a2f;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 22px;
    color: #444444;
    min-width: 140px;
    max-width: 140px;
    height: 40px;
}

#quiz_answer_1 {
    flex: 1;
    background-color: #65c6e3;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
    border-width: 0px;
    font-weight: bold;
    font-size: 22px;
    color: #444444;
    min-width: 140px;
    max-width: 140px;
    height: 40px;
}

#quiz_answer_0_text_container,
#quiz_answer_1_text_container {
    width: 40px;
    height: 40px;
    padding-top: 5px;
    width: fit-content;
    float: right;
}

#quiz_answer_0_icon_container,
#quiz_answer_1_icon_container {
    width: 40px;
    height: 40px;
    float: left;
}

#quiz_answer_0>div>img,
#quiz_answer_1>div>img {
    width: 100%;
    height: 100%;
}

#quiz_answer_0>div>p,
#quiz_answer_1>div>p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#quiz_answer_0_checkmark,
#quiz_answer_1_checkmark {
    flex: 0;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 10px;
    border-width: 0px;
    background-color: none;
}

#quiz_answer_0_checkmark>img,
#quiz_answer_1_checkmark>img {
    width: 80px;
    height: 80px;
}

#emission_breakdown {
    flex: 1;
    margin-top: 30px;
    padding: 0 15vw 0 15vw;
}

#div_next_button {
    display: flex;
    position: fixed;
    width: 150px;
    top: calc(50% - 150px);
    height: 300px;
    right: 0px;
    border: 0;
    align-items: center;
    justify-content: left;
    background: transparent;
    cursor: pointer;
}

#next_button {
    display: block;
    width: 50px;
    max-height: 50px;
    margin-left: 25px;



}

#div_next_button:hover {
    transform: scale(1.10);
    -webkit-transform: transform 0.1s ease-in-out;
    -moz-transform: transform 0.1s ease-in-out;
    -ms-transform: transform 0.1s ease-in-out;
}

/* RESULT.HTML STYLING */

#result_level_container {
    flex: 1;
    margin-right: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#result_comparison_container {
    flex: 1;
}

#result_comparison_header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 7.3px;
}

#result_comparison_subheader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 7.3px;
}

#result_comparison_container>div {
    margin-bottom: 3%;
}

.indiv_result_container>div {
    padding: 0 2% 0 2%;
}

.result_icon_container {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.result_icon_container>img,
svg {
    width: 100%;
    height: 100%;

}

.result_svg_container {
    width: calc(84% - 3 * 35px);
    height: 35px;
    display: inline-block;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* REFERENCES.HTML STYLING */

#references_heading {
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
}


#om_kkq {
    float: left;
    padding: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffffCC;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.377);
    line-height: 1.3em;
    width: 600px;
}

#om_dskd {
    float: left;
    padding: 10px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffffCC;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.377);
    line-height: 1.3em;
    width: 600px;
}


#references_flex_container:after {
    content: "";
    display: table;
    clear: both;
}

.heading {
    font-family: Verdana;
    font-weight: bold;
}

#dskd_link_button {
    padding: 20px;
    font-family: Verdana;
    font-weight: bold;
    background-color: #f98a2f;
    border-width: 0;
    border-radius: 3px;
    cursor: pointer;
}

#dskd_link_button:hover {
    transform: scale(1.05);
    -webkit-transform: transform 0.5s ease-in-out;
    -moz-transform: transform 0.5s ease-in-out;
    -ms-transform: transform 0.5s ease-in-out;
}

@media only screen and (max-width: 500px) {
    #page_title {
        font-size: 22px;
        text-align: left;
        margin-left: 5px;

    }

    #page_head {
        height: 27px;

    }

    #info_button {

        margin-top: -30px;
    }

    #om_kkq {
        width: 100%;
    }

    #om_dskd {
        width: 100%;
    }
}

@media only screen and (max-width: 793px) {

    /* GENERAL MEDIA STYLING*/

    #content_container {
        flex-direction: column;
    }

    #content_container>* {
        margin-right: 0;
        margin-bottom: 2vh;
    }

    /* QUESTION.HTML MEDIA STYLING */

    #quiz_question_div {
        font-size: 20px;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    #quiz_question {
        margin-top: 2vh;
    }

    #div_question_next_button {
        width: 100px;
        right: 0px;
    }

    /* ANSWER.HTML MEDIA STYLING */

    #quiz_answer {
        margin: 20px 20px 20px 20px;
    }

    #quiz_answer_1 {
        margin-bottom: 0;
    }

    #quiz_answer_0_checkmark,
    #quiz_answer_1_checkmark {
        max-width: 190px;
        min-width: 190px;
        margin-bottom: 0;
    }

    #quiz_answer_0_checkmark>img,
    #quiz_answer_1_checkmark>img {
        margin-left: 55px;
    }

    #emission_breakdown {
        min-width: 80vw;
        padding: 0 10vw 0 10vw;
    }

    #div_next_button {
        width: 100px;
        right: 0px;
    }

    /* RESULT.HTML MEDIA STYLING*/

    .column {
        float: left;
        width: 94%;
        padding: 3%;
    }


}

@media only screen and (max-width: 500px) {
    #page_title {
        font-size: 22px;
        text-align: left;
        margin-left: 5px;
    }

    #page_head {
        height: 27px;
    }

    #info_button {
        margin-top: -30px;
    }

    #quiz_answer {
        margin: 20px 5px 20px 5px;
    }

    #quiz_answer_0 {
        margin-right: 1%;
    }

    #div_next_button {
        width: 85px;
        right: 0px;
    }
}